<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAdoredShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22FDE6E21D0284B0004C4F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FDE6F91D0284B0004C4F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FDE7041D0284B0004C4F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
